name: Deploy to Server

on:
    push:
        branches:
            - main

jobs:
    deploy:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v6

            - name: Setup Node.js
              uses: actions/setup-node@v6
              with:
                  node-version: "20"

            - name: Install dependencies
              run: npm ci

            - name: Build project
              run: npm run build

            - name: Deploy via SFTP
              env:
                  SFTP_PASSWORD: ${{ secrets.SFTP_PASSWORD }}
              run: |
                  sudo apt-get update
                  sudo apt-get install -y lftp
                  lftp -c "set sftp:auto-confirm yes; open -u sftp-mc2db6@p-krmhdz,'$SFTP_PASSWORD' sftp://ssh.isenstedt.project.host; mirror -R dist/ /"
